Repository TuuZzee/boilerplate-NextJS: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc.json:

{
  "*.{js,css,json,md,ts,tsx}": "prettier --write",
  "*.{js,ts,tsx}": "eslint --fix",
  "./src/**/styled.{ts,js}": "stylelint",
  "./src/styles/styledComponents/**/*.ts": "stylelint"
}

Modify styled component default type
  src/styles/darkTheme.ts
  src/styles/lightTheme.ts
  src/styles/styledComponents/globalStyled.ts
  src/styles/theme.ts
  src/types/declaredTypes/axios.d.ts
  src/types/declaredTypes/styled.d.ts
Due: prettier --write, eslint --fix, stylelint

chore: upgrade all minor pkgs (immer, styled-components etc...), Eslint and Prettier pkgs to LTS
  .eslintignore
  .prettierrc
  package.json
  pages/404.js
  pages/_document.js
  pages/about.js
  pages/index.js
  src/components/shared/Layout.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: update axios related packages and add qs pkg for array GET query params handling
  package.json
  src/utils/requestAPI.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: upgrade eventemitter3, html-react-parser and sanitize-html pkgs. Remove unused pkgs uuid, react-icons, bignumber.js
  package.json
  src/utils/emitter.js
  src/utils/intl-i18n.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: upgrade redux related packages
  package.json
  yarn.lock
Due: prettier --write

chores: bump NextJS related packages and update the Eslint rules and settings
  .babelrc
  .eslintrc.js
  babel.config.js
  next.config.js
  package.json
  pages/404.js
  pages/_app.js
  pages/_document.js
  src/components/Landing/Todo.js
  src/components/Landing/TodoItem.js
  src/components/shared/EnvironmentBadge/index.js
  src/components/shared/Layout.js
  src/components/shared/Nav.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: bump stylelint packages and fix some styling issue, bump react-intl to LTS
  .stylelintrc
  package.json
  src/styles/styledComponents/globalStyled.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: bump immer to LTS
  package.json
  yarn.lock
Due: prettier --write

chore: bump lint-staged and husky to LTS
  package.json
  yarn.lock
Due: prettier --write

chore: bump NextJs packages to LTS
  package.json
  yarn.lock
Due: prettier --write

doc: update Readme file documentation after packages upgrades
  readme.md
Due: prettier --write

build: fix the codeChecker github action workflow
  .github/workflows/codeChecker.yml
Due: none

fix: restore plugin:@next/next/recommended eslint extends, removed previously by mistake
  .eslintrc.js
Due: prettier --write, eslint --fix

Chore/packages upgrades and various small fixes/patches (#47)
  .babelrc
  .eslintignore
  .eslintrc.js
  .github/workflows/codeChecker.yml
  .prettierrc
  .stylelintrc
  babel.config.js
  next.config.js
  package.json
  pages/404.js
  pages/_app.js
  pages/_document.js
  pages/about.js
  pages/index.js
  readme.md
  src/components/Landing/Todo.js
  src/components/Landing/TodoItem.js
  src/components/shared/EnvironmentBadge/index.js
  src/components/shared/Layout.js
  src/components/shared/Nav.js
  src/styles/styledComponents/globalStyled.js
  src/utils/emitter.js
  src/utils/intl-i18n.js
  src/utils/requestAPI.js
  yarn.lock
Due: prettier --write, eslint --fix

build: decommission serverless usage since package seems to be unmaitained
  .eslintignore
  .github/workflows/main.yml
  .github/workflows/qa.yml
  .gitignore
  .prettierignore
  build/production/production.env
  build/production/serverless.yml
  build/qa/qa.env
  build/qa/serverless.yml
  package.json
  readme.md
  yarn.lock
Due: prettier --write

build: add .env.local file and vscode folder for workspace configuration
  .env.local
  .gitignore
  .vscode/boilerplate-nextjs.code-workspace
Due: none

Feat/Build - Decommission Serverless (#48)
  .env.local
  .eslintignore
  .github/workflows/main.yml
  .github/workflows/qa.yml
  .gitignore
  .prettierignore
  .vscode/boilerplate-nextjs.code-workspace
  build/production/serverless.yml
  build/qa/qa.env
  build/qa/serverless.yml
  package.json
  readme.md
  yarn.lock
Due: prettier --write

build: remove unused packages, remove firebase/firestore setup for now, fix redux wrapper usage
  .env.local
  .eslintrc.js
  .vscode/boilerplate-nextjs.code-workspace
  package.json
  pages/_app.js
  src/components/hooks/usePaginationWithFirestore.js
  src/components/shared/Layout.js
  src/components/shared/dataLoaders/firebase/Collections.js
  src/components/shared/dataLoaders/firestore/Collections.js
  src/redux/modules/index.js
  src/utils/constants.js
  src/utils/firebaseApp.js
  yarn.lock
Due: prettier --write, eslint --fix

build: remove unused packages, remove firebase/firestore setup for now, fix redux wrapper usage (#49)
  .env.local
  .eslintrc.js
  .vscode/boilerplate-nextjs.code-workspace
  package.json
  pages/_app.js
  src/components/hooks/usePaginationWithFirestore.js
  src/components/shared/Layout.js
  src/components/shared/dataLoaders/firebase/Collections.js
  src/components/shared/dataLoaders/firestore/Collections.js
  src/redux/modules/index.js
  src/utils/constants.js
  src/utils/firebaseApp.js
  yarn.lock
Due: prettier --write, eslint --fix

build/tests: add Jest and related packages for unit-tests setup, add coverage for todos module
  .eslintrc.js
  .github/workflows/unitTests.yml
  jest.config.js
  package.json
  readme.md
  src/redux/modules/todos.js
  src/redux/modules/todos.test.js
  src/redux/store.js
  yarn.lock
Due: prettier --write, eslint --fix

build/tests: add Jest and related packages for unit-tests setup, add coverage for todos module (#50)
  .eslintrc.js
  .github/workflows/unitTests.yml
  jest.config.js
  package.json
  readme.md
  src/redux/modules/todos.js
  src/redux/modules/todos.test.js
  src/redux/store.js
  yarn.lock
Due: prettier --write, eslint --fix
